@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
}



/* ✅ Custom utilities using @layer if needed */
@layer utilities {
  body{
     background-color: #f4feff ;
  }
  .background-chat-ui{
    /* background-image: url(../public/bg-otwobg.png);  */
    /* background-size:cover ; */
    /* background-color: #F4F8FB; */
    background-color: #f4feff ;
  }
  .bacgroundColorSt{
    background-color: #f4feff  !important;
  }
  .bacgroundColorSt-scrolled{
     background-color: #fff  !important;
  }
  .otitle {
    /* color:#323232; */
    /* background: linear-gradient(to right, #0A0530,  #4D5DCE, #436EE3); */
    /* background-clip: text; */
    /* color: transparent; */
    color: #fff;
  }
  .ot-title{
    color: #34334B;
  }
  .osubtitle {
    color: #34334B;
    opacity: 0.9;
  }
  .osubtitle-white{
    color: #fff;
  }
  .border-o2{
    border: 1px solid #d7d9dd; 
  }
  .border-o3{
    border: 1px solid #F2F2F2; 
  }
  .aisearchinput{
    background-color: #F8F8F8;
  }
  .o2AlignSearch-center{
    height: calc(100vh - 150px);
    margin: auto;
    align-content: center;
    width: 70%;
    margin-top: 110px;
    transition: all 0.9s ease-in-out;
  }
  .header-widthfix{
    width: 70%
  }
   .summaryGeneration-widthfix{
    width: 76%;
    background-color: #fff;
  }
  .o2AlignSearchm1-center{
    align-content: flex-end;
  }
  .o2AlignSearch-inner-center{
    height: calc(100vh - 174px);
    margin: auto;
    align-content: center;
    width: 60%;
    justify-content: end;
    display: flex;
    
  }
  .backdivbg{
    /* Add the blur effect */
    background-color: #ffffff7a;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
   .backdivbgProfile{
    /* Add the blur effect */
    background-color: #ffffff7a;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  .line-braksr{
    line-break: anywhere;
  }
  .minarea-max-hright{
    height: calc(100vh - 153px);
    overflow-y: scroll;
    overscroll-behavior: contain;
    transition: all 0.9s ease-in-out;
    scroll-behavior: smooth;
  }

  .minarea-max-hright-aiops{
    height: calc(100vh - 202px);
    overflow-y: scroll;
    overscroll-behavior: contain;
    transition: all 0.9s ease-in-out;
    scroll-behavior: smooth;
  }

  #chat-box {
  flex: 1;
  overflow-y: visible; /* Or 'auto' if you want chat-box to scroll */
  padding: 0 8px;
}
  .aisearchinput:hover{
    /* border: 1px solid #4720f8;
    
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    border-radius: 50em; */

    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, rgba(16, 16, 221, 0.322), rgba(153, 50, 204, 0.363)) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px #4820f81f;
  }
  .aisearchinput-focused{
      background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, rgba(16, 16, 221, 0.322), rgba(153, 50, 204, 0.363)) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px #4820f81f;
  }
  .boxshadow{
    box-shadow: 0px 2px 10px #0000000d;
  }

  /* handel dashbord main container */
  .ot-dashbord-main-container .dashbord-miannot{
    display: none;
  }
   .ot-dashbord-main-container .dashordmain-custom-stylewrap{
      justify-content: flex-start !important;
      margin: 0 !important;
  }
  .ot-dashbord-main-container .dashordmain-custom-style{
    width: 190px;
    box-shadow: 0px 11px 19px #2563eb47;
  }

  .ot-min-h-screen{
    min-height: calc(100vh - 200px);
  }
   .audio-insights-main  + .Dashbordmain-main{
    display: none !important;
  }
  .emailactivatbg{
    background: #fff;
    background: linear-gradient(134deg,rgb(236, 248, 248) 40%, rgb(250, 232, 232) 100%);
  }
  .emailBoder{
    border: 1px solid rgb(185, 219, 235) ;
  }
  .o2-agent-shadow
  {
        box-shadow: 0px 0px 15px #1d1f2742;
  }
  .ot-customline{
    height: 1px;
    border-bottom: 1px dotted #d7d9dd;
  }
  .backclose{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .activenavigation{
    position: relative;
    background-color: #e5edfb;
  }
  .activenavigation::after{
    content: "";
    height: 2.5px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -17px;
    display: block;
    background-color: #3C77EF;
    border-radius: 10px;
  }
  .custome-header-shadow{
        box-shadow: 1px 1px 30px #23212b14;
  }
  .main-width-manu{
    svg{
      width: 20px;
      min-width: 20px;
    }
  }
  .main-toggleSidebar{
    margin-right: -35px;
  }
  .imagfilter{
    filter: brightness(0.98);
  }
  .bradcurame-section{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in-out;

  }
  .chatmassage-wrapper h3{
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 2px 1px;
  }

  .chatmassage-wrapper h4{
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding: 2px 1px;
    margin-bottom: 10px;
  }
  .chatmassage-wrapper ul{
      list-style: outside;
    margin-left: 20px;
  }
  .chatmassage-wrapper li{
      margin-bottom: 15px;
  }
  .voice-enrollment{
    height: calc(100vh - 250px);
  }
  .Trnascrption-Interface{
     min-height: 100%;
  }
  .Transcription-Interface{
     height: calc(100vh - 170px);
  }
  .Trnascrption-Interface-wrapper{
    height: calc(100vh - 160px);
    /* overflow-y: scroll; */
  }
  .border-highlight{
    border-color: #3C77EF !important;
    box-shadow: 1px 1px 10px #0713b949;
  }
  .mediNote-widthfix{
    width: 74%;
  }
  .summaryGenerationSection{
    background: #161D5D;
    background: linear-gradient(73deg,rgba(22, 29, 93, 1) 2%, rgba(59, 202, 245, 1) 100%);
    width: 88%;
  }
  .controle-search-AIDocAssist{
    background-color: #fff;
    padding: 0px 15px;
    border-radius: 10px;
    z-index: 2;
    outline: 8px solid #0052cc66;
  }
  .mediNote-widthfix-warpper{
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .Patient-voice{
        height: calc(100vh - 177px);
  }
  .transcriptDoctorPatient{
      max-height: calc(100vh - 430px);
       z-index: 2;
       position: relative;
  }
  .mediNote-widthfix-warpper-center{
    min-height: calc(100vh - 223px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .custom-gradient {
  background: linear-gradient(to right, #EDFAFF, #F0EEFF);
  }
  .enrollDoctorVoice{
    overflow: auto;
  }
  .ViewPatientList .grid-cols-3{
      grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .ViewPatientList .grid-cols-3 .max-w-md {
    width: 100%;
    max-width: 100%;
  }
  .ViewPatientList .gap-4 {
        gap: 0.3rem;
  }
  .ICDGenerator-pupup{
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 30px;
    width: 550px;
    background-color: #fff;
    box-shadow: -9px 11px 31px #0000001a;
    z-index: 99;
  }
  .closeBtn{
    background-color: none;
    border: none;
  }
  .aside-style-left{
    background: #181F64;
    background: linear-gradient(160deg,rgba(24, 31, 100, 1) 35%, rgba(15, 70, 153, 1) 100%);
  }
  .showdo-gradiant{
    right: 0;
    top: 0;
    border: 0;
    height: 100%;
    align-content: center;
    align-items: center;
    z-index: -1;
  }
  .svg-white svg path{
    fill: #fff;
  }
  .ont-hide-new-co .newConvetsotiotext{
    font-size: 0;
    display: none;
  }
  .bottom-helo-full{
    bottom: 5px;
    left: 10px;
    margin: auto;
    width: 230px;
    font-size: 12px;
    font-weight: 100;
    align-items: center;
    padding: 17px;
  }
  .bottom-helo-slide{
    bottom: 5px;
    left: 10px;
    margin: auto;
    width: 48px;
    font-weight: 100;
    align-items: center;
    padding: 0;
    font-size: 0;
  }
  .transcription-welcommassege{
    background: #161D5D;
    background: linear-gradient(73deg,rgba(22, 29, 93, 1) 2%, rgba(59, 202, 245, 1) 100%);
    padding-left: 7rem;
    padding-right: 7rem;

  }
    .transcription-welcommassege-main{
    background: #161D5D;
    background: linear-gradient(73deg,rgba(22, 29, 93, 1) 2%, rgba(59, 202, 245, 1) 100%);
  }
  .imagfilter-AI{
    width: 70%;
    position: absolute;
    top: 46%;
    left: 70px;
  }
  .images-ill-mess{
    height: 110%;
    right: 0;
    bottom: 0;
      background-image: url(../public/AIDocAssistmainpage.png);
    background-size: 94%;
    background-position: bottom right;
    width: 50%;
    z-index: 0;
    background-repeat: no-repeat;
  }
  .bottomlinerGrading{
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    border-radius: 10px;
     z-index: 1;
  }
  .transcript-strip-msg{
    background: rgba(255, 255, 255, 0.7); /* white with 0.8 opacity */
    backdrop-filter: blur(6px);            /* blur effect */
    border-radius: 10px;
  }
  .rightlinerGrading{
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    border-radius: 10px 10px 0px 10px;
    z-index: 1;
  }

    /* Custom scrollbar */
  .transcriptDoctorPatient::-webkit-scrollbar {
    width: 8px;              /* width of the scrollbar */
  }

  .transcriptDoctorPatient::-webkit-scrollbar-track {
    background: transparent;       /* track color */
    border-radius: 8px;
  }

  .transcriptDoctorPatient::-webkit-scrollbar-thumb {
    background: #185683;       /* scrollbar handle */
    border-radius: 8px;
  }

  .transcriptDoctorPatient::-webkit-scrollbar-thumb:hover {
    background: #104267;       /* handle on hover */
  }
  .dm-width{
      width: calc(100% - 160px);
  }
  .follow-upAppointment-gradiant{
    background: #A8E9FF;
    background: linear-gradient(134deg,rgba(168, 233, 255, 1) 2%, rgba(224, 169, 255, 1) 100%);
    position: relative;
    z-index: 2;
  }
  .gradintProfile{
    background: #1E5588;
    background: linear-gradient(134deg, rgba(21, 47, 103, 1) 100%, rgba(30, 85, 136, 1) 2%);
  }
  .garadiantProfile-details{
    background: #1B3371;
    background: linear-gradient(180deg,rgba(27, 51, 113, 1) 2%, rgb(33, 119, 156) 100%);
  }
  .border-custome-profile{
    outline: 8px solid #2346974d;
  }
  .boder-seprate-profile{
    border-top: 1px solid #1b71a3;
    border-bottom: 1px solid #2485bd;
  }
  .searchPatients-bg{
    background-color: #02102870;
    border-radius: 10px 0 0 10px;
    width: 300px;
    height: calc(100vh - 179px);
  }
  .imagfilter-doctor img{
    width: 100%;
    width: 100%;
  }
  .StartConversation img{
    width: 100%;
    width: 100%;
  }
  .bradiantAdd{
    background: #D36C2D;
    background: linear-gradient(96deg,rgba(211, 108, 45, 1) 2%, rgba(146, 52, 213, 1) 100%);
  }
  .SearchConversation{
    width: 100%;
    background-color: #E2E4FF;
    border-radius: 4px;
    outline: 8px solid #0052cc50;
  }
  .patent-listAuto{
    overflow-y: auto;
    height: calc(100vh - 340px);
  }
     /* Custom scrollbar */
  .patent-listAuto::-webkit-scrollbar {
    width: 8px;              /* width of the scrollbar */
  }

  .patent-listAuto::-webkit-scrollbar-track {
    background: transparent;       /* track color */
    border-radius: 8px;
  }

  .patent-listAuto::-webkit-scrollbar-thumb {
    background: #3089c9;       /* scrollbar handle */
    border-radius: 8px;
  }

  .patent-listAuto::-webkit-scrollbar-thumb:hover {
    background: #3089c9;       /* handle on hover */
  }
  .patent-active{
    width: 14px;
    height: 14px;
    background-color: #03D361;
    border-radius: 100px;
  }
  .patent-inactive{
    width: 14px;
    height: 14px;
    background-color: #7E83A2;
    border-radius: 100px;
  }
  .handleSelectPatent:hover{
      background-color: #0975BB;
  }
  .handleSelectPatent:hover div, .handleSelectPatent:hover span{
    color: #fff;
  }
  .SearchDoctorToggle{
    background-color: #02102870;
    border-radius: 0px 10px 10px 0px;
    width: 300px;
    height: calc(100vh - 177px);
  }
  .DoctorResultslist{
    overflow: hidden;
    height: calc(100vh - 347px);
    overflow-y: auto;
  }
     /* Custom scrollbar */
  .DoctorResultslist::-webkit-scrollbar {
    width: 8px;              /* width of the scrollbar */
  }

  .pDoctorResultslist::-webkit-scrollbar-track {
    background: transparent;       /* track color */
    border-radius: 8px;
  }

  .DoctorResultslist::-webkit-scrollbar-thumb {
    background: #0A1D40;       /* scrollbar handle */
    border-radius: 8px;
  }

  .DoctorResultslist::-webkit-scrollbar-thumb:hover {
    background: #0A1D40;       /* handle on hover */
  }

  .patientError{
    position: absolute;
    left: -120px;
    top: 40px;
  }
  .doctorError-ab{
    position: absolute;
    right: -99px;
    top: 36px;
  }
  .epicLoginBox{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 390px;
    z-index: 99;
    top: -5px;
    box-shadow: 1px 1px 10px #00000012;
  }
  .customBord{
    border: 1px dotted #3a14c233;
  }
  .avatar-scr{
    background-color: #c6e9ff;
    display: flex;
    height: 36px;
    width: 36px;
    border-radius: 36px;
    color: #0b5299;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: bold;
  }
  .custom-shadow{
    /* box-shadow: 1px 1px 5px #02020217; */
  }
  .custom-shadow:hover{
    box-shadow: 1px 1px 50px #0000001e;
  }
  .glass-card {
  background-color: rgba(250, 252, 255, 0.596) !important;           /* White with 80% opacity */
  backdrop-filter: blur(12px);                   /* The blur effect */
  -webkit-backdrop-filter: blur(12px);           /* Safari support */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
  .auto-hight-vr{
        height: calc(100vh - 325px);
        overflow: auto;
  }
  /* width */
.auto-hight-vr::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.auto-hight-vr::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.auto-hight-vr::-webkit-scrollbar-thumb {
    background: #223e99bf;
    border-radius: 100px;
}

  /* Handle on hover */
  .auto-hight-vr::-webkit-scrollbar-thumb:hover {
      background: #223e99bf;
      border-radius: 100px;
  }
  .autopharmacySearch-min{
    min-height: calc(100vh - 240px);
  }
  .centerdivh-a{
        height: calc(100vh - 160px);
  }
  .docterAvatar{
      width: 40px !important;
      max-width: 40px !important;
      min-width: 40px !important;
  }
    /* Custom scrollbar */
  .custom-scroole::-webkit-scrollbar {
    width: 8px;              /* width of the scrollbar */
  }

  .custom-scroole::-webkit-scrollbar-track {
    background: transparent;       /* track color */
    border-radius: 8px;
  }

  .custom-scroole::-webkit-scrollbar-thumb {
    background: #fff;       /* scrollbar handle */
    border-radius: 8px;
  }

  .custom-scroole::-webkit-scrollbar-thumb:hover {
    background: #fff;       /* handle on hover */
  }
}